:root {
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --background: #202124;
  --surface: #121212;
  --error: #cf6679;
  --warning: #f39c12;
  --on-background: #ffffff;
  --on-background-grey: #c7c7c7;
  --on-surface: #ffffff;
  --delete-button: #ff5f52;
  --archive-button: #fff263;
}

[data-theme='light'] {
  --background: #dddddd;
  --suface: #ffffff;
  --on-background: #333333;
  --on-background-grey: #6d6d6d;
  --on-surface: #333333;
  --delete-button: #a03529;
  --archive-button: #b6ab2f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border-radius: 0;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--on-background);
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: var(--on-background);
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.homepage__action,
.detail-page__action {
  position: fixed;
  display: flex;
  gap: 16px;
  bottom: 32px;
  right: 32px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--on-background);
  color: var(--background);
  padding: 8px;
  cursor: pointer;
}

.detail-page {
  margin: 0 auto;
  margin-top: 32px;
  width: 90%;
}

.detail-page__title {
  font-size: 48px;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.detail-page__createdAt {
  color: var(--on-background-grey);
}

.detail-page__body {
  line-height: 1.5;
  margin-top: 36px;
  font-size: 18px;
}

.detail-page__404-not-found-title {
  text-align: center;
  font-size: 2rem;
  color: var(--on-background-grey);
  margin-bottom: -2rem;
  margin-top: 2rem;
}

.detail-page__empty-message {
  text-align: center;
  color: var(--on-background-grey);
  margin-top: 48px;
  font-size: 1.3rem;
}

.note-app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 1.5rem;
  border-bottom: 1px solid #aaa;
}

.note-app__header-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--on-background);
  text-decoration: none;
}

.note-app__header-archive-link,
.logout-link {
  color: var(--on-background);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.logout-link {
  gap: 3px;
}

.logout-icon,
.logout-name {
  display: flex;
  align-items: center;
}

.logout-container {
  display: flex;
  align-items: center;
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
  padding-inline: 1.7rem;
}

.note-app__body h2 {
  font-weight: normal;
  margin-top: 5px;
}

.note-search > input {
  margin-bottom: 3rem;
}

.note-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: var(--on-background-grey);
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: var(--on-background);
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: var(--on-background-grey);
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
  text-decoration: none;
  color: inherit;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--on-background-grey);
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: var(--delete-button);
}

.note-item__archive-button {
  color: var(--archive-button);
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

.link {
  text-decoration: none;
  color: inherit;
}

.input-login,
.input-register {
  margin: 32px 0;
}

.input-login label,
.input-register label {
  font-size: 24px;
  font-weight: lighter;
}

.input-login input,
.input-register input {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  margin-top: 8px;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  border: 3px solid var(--on-background);
  color: var(--on-background);
}

.input-login button,
.input-register button {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background-color: var(--on-background);
  color: var(--background);
  cursor: pointer;
}

.input-login > p,
.input-register > p {
  margin-top: 2.2rem;
  font-size: 1.5rem;
}

.input-login > p > a,
.input-register > p > a {
  color: inherit;
}

.note-app__header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.theme-button {
  display: flex;
  margin: auto;
  font-size: 1.8rem;
  margin-right: 1.5rem;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }

  .detail-page__title {
    font-size: 64px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
